
.bio-intro {
    background-color: #C8D7D4;
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content:center; 
    align-content: center;
    justify-items: center;
    text-align: center;
    padding: 48rem;
}

.bio-intro img {

    width: 50rem;
    height: 60rem;
    display: block;
    object-fit: cover;
    text-align: center;
    filter: grayscale(40%);
    border: 1rem solid white;
}

.bio-intro-text {
    text-align: left;
    background-color: #F5D3A5;
    padding: 3rem;
    padding-top: 26rem;
    max-width: 50rem;
    padding-bottom: none;

}

.bio-intro h1 {
    font-size: 5rem;
    color: white;
    letter-spacing: 1.5rem;
    line-height: 1.5;
    text-align: center;
}

.bio-intro h2 {
    font-size: 1.5rem;
    color:black;
    font-weight: 200;
    letter-spacing: 1.25rem;
    line-height: 2;
    padding-bottom: 2rem;
    text-align: center;
}

.bio-intro p {
    line-height: 1.25;
    max-width: 50rem;
    text-align: justify;
    padding-bottom: none;
}