

.footer {
    z-index: 2; 
    padding-right: 3rem;
    padding-left: 3rem;
    position: fixed bottom;
    top: 0;
    left: 0;
    height: 30rem; 
    width: 100%;
    background-color: rgba(255, 255, 255, 1);

    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;

}

.footer .left {
    padding-left: 10rem;
    color: black;
    font-weight: 400;
    font-size: 1.5rem;
    letter-spacing: 0.14rem;
}

.footer .left h2 {
    font-size: 1.5rem;
    color:black;
    font-weight: 200;
    letter-spacing: 0.5rem;
    padding-bottom: 0.5rem;
    text-transform: uppercase;
}

.footer .left p {
    line-height: 1.25;
    font-weight: 200;
}

.footer .center .home-button {
    height: 15rem;  
    position: relative;
    top: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.footer .center h1 {
    font-size: 5rem;
    font-weight: 400;
    color: black;
    text-align: center;  
    letter-spacing: 0.3rem;
    word-spacing: 8.5rem;
    position: relative;
    top: -8rem;
}

.footer .right {
    padding-right: 10rem;
    color: black;
    font-weight: 400;
    font-size: 1.5rem;
    justify-self: end;
    text-align: right;
}

.footer .right h2 {
    font-size: 1.5rem;
    color:black;
    font-weight: 200;
    letter-spacing: 0.5rem;
    padding-bottom: 0.5rem;
    text-transform: uppercase;
}

footer .right nav {
    display: grid;
    grid-auto-flow: row;
    justify-content: end;
    letter-spacing: 0.14rem;
   
}