:root {
    font-size: 62.5%;
}

*, h1, h2, h3, h4, h5, h6, p, div {
    margin: 0;
    box-sizing: border-box;
    color: #444;
}

body {
    background-color: #eeeeee;
    font-family: "acumin-pro", "acumin pro", "Helvetica Neue", sans-serif;
    font-size: 1.6rem;
}

a {
    text-decoration: none;
    color: #444;
}

main {
    background-color: white;
}

html {
    scroll-behavior: smooth;
}