.intro-values {
    background-color: #F5D3A5;
    height: 100vh;
    text-align: center;
}

.intro-values-grid {
    padding-left: 20rem;
    padding-right: 20rem;
    padding-bottom: 10rem;
    justify-content:center; 
    align-content: center;
    justify-items: center;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    text-align: center;
}

.intro-values-grid img {
    width: 40%;
    padding-bottom: 3rem;
}

.intro-values h1 {
    font-size: 6rem;
    color:white;
    letter-spacing: 1.5rem;
    justify-content: center; 
    align-content: center;
    justify-items: center;
    background-color: transparent;
    position: relative;
    text-align: center;
    padding-top: 12rem;
    padding-bottom: 8rem;
}

.intro-values-grid h2 {
    font-size: 2rem;
    color:black;
    font-weight: 200;
    letter-spacing: 1.25rem;
}

.intro-values-grid p {
    padding: 2rem;
    max-width: 40rem;
    text-align: center;
    line-height: 1.25;
}

.intro-values a {
    background-color: transparent;
    color: white;
    display: inline-flex;
    width: 22rem;
    height: 4rem;
    border: 0.5rem solid white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 350;
    letter-spacing: 1.25rem;
    padding-left: 1.25rem;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.intro-values a:hover {
    background-color: white;
    color: black;
}