
.short-bio {
    background-color: #C8D7D4;
    height: 100vh;

    justify-content:center; 
    align-content: center;
    justify-items: center;
    text-align: center;

}


.short-bio img {
    width: 15%;
    padding-top: 8rem;
}

.short-bio-text {
    margin: auto;
    text-align: center;
}

.short-bio-text h1 {
    font-size: 15rem;
    color:white;
    letter-spacing: 1.5rem;
}

.short-bio-text h2 {
    font-weight: 100;
}

.short-bio-text p {
    padding: 2rem;
    padding-bottom: 4rem;
    max-width: 45rem;
    margin: auto;
    text-align: center;
    line-height: 1.2;


}

.short-bio a {
    background-color: transparent;
    color: white;
    display: inline-flex;
    width: 22rem;
    height: 4rem;
    border: 0.5rem solid white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 350;
    letter-spacing: 1.25rem;
    padding-left: 1.25rem;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.short-bio a:hover {
    background-color: white;
    color: black;
}
