

.sign-up {
    height: 50vh;
    width: 100vw;
    left: 0;
    top: 0;
    overflow: hidden;
}

.sign-up h1 {
    font-size: 10rem;
    color:white;
    letter-spacing: 1.5rem;
    justify-content: center; 
    align-content: center;
    justify-items: center;
    background-color: transparent;
    position: relative;
    text-align: center;
    top: -38vh;
}

.sign-up h2 {
    font-weight: 300;
    font-size: 2rem;
    letter-spacing: 0.5rem;
    color:white;
    justify-content: center; 
    align-content: center;
    justify-items: center;
    background-color: transparent;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    top: -38vh;
}

.sign-up form {
    display: grid;
    grid-template-columns: 60rem 20rem;
    padding: 1rem;
    justify-content: center; 
    align-content: center;
    justify-items: center;
    background-color: transparent;
    position: relative;
    top: -36vh;

}

.sign-up input[type=email]  {
    width: 58rem;
    outline: none;
    padding: 1em;
    font-family: "acumin-pro", "acumin pro", "Helvetica Neue", sans-serif;
    font-size: 2rem;
    font-weight: 200;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid white;
    transition: none;
}

.sign-up button {
    width: 20rem;
    outline: none;
    padding: 1.6rem;
    color: white;
    font-family: "acumin-pro", "acumin pro", "Helvetica Neue", sans-serif;
    font-size: 2.5rem;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 0.5rem solid white;
    transition: none;
}

.sign-up button:hover {
    border-color: white;
    border: 0.5rem solid white;
    background-color: white;
    color: black;
    transition: none;
}

.sign-up video {
    left: 0;
    top: 0;
    height: 50vh;
    width: 100vw;
    display: block;
    object-fit: cover;

}