.top-menu {
    z-index: 3; 
    padding-right: 2rem;
    padding-left: 2rem;
    position: fixed;
    top: 0;
    left: 0;
    height: 8rem; 
    width: 100%;
    background-color: rgba(255, 255, 255, 1);

    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

.top-menu .left .burger {
    height: 2.5rem;

}

.top-menu .center .home-button {
    height: 6rem;  
    position: relative;
    top: 0.6rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.top-menu .center h1 {
    font-size: 2rem;
    font-weight: 400;
    color: black;
    text-align: center;  
    letter-spacing: 0.3rem;
    word-spacing: 3.5rem;
    position: relative;
    top: -3rem;
}

.top-menu .right .join {
    color: black;
    font-weight: 400;
    font-size: 1.5rem;
    letter-spacing: 0.14rem;
}

.top-menu .right {
    justify-self: end;
}

.top-menu .right .join:hover {
    font-weight: 300;
    font-size: 2rem;
    letter-spacing: 0.14rem;
}

.linethrough {
    text-decoration: line-through;
}

  
.top-menu #menu-icon{
    height: 3em;
    position:relative;
    padding-left: 0.5em;
    padding-top: 0.5em;
    z-index: 2;
}

.top-menu #close-icon{
    height: 3em;
    position:relative;
    padding-left: 0.5em;
    padding-top: 0.5em;
    z-index: 2;
    display: none;
}

.top-menu #menu-content{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: #C8D7D4;
    z-index: 1;
    display:none;
}

.top-menu #menu-content h2{
    text-align: center;
    font-size: 10rem;
    text-transform: uppercase;
    font-weight: 400;
    color: white;
    position: relative;
    top: 25rem;
}

.top-menu #menu-content div a{
    text-align: center;
    color: white;
    display: block;
    width: 20srem;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    cursor: pointer;
    font-size: 3rem;
}

.top-menu #menu-content div a:hover{
    background-color: rgba(255, 255, 255, 0.3);
}

.top-menu button{
    background: transparent;
    border: none;
    width: 4rem;
}

.top-menu button:focus + #menu-content{
    display:inherit;
}

.top-menu button:focus #menu-icon{
    display:none;
}

.top-menu button:focus #close-icon{
    display:inherit;
}