.crew {
    background-color: #F5D3A5;
    text-align: center;
}

.crew h1 {
    font-size: 6rem;
    color:white;
    letter-spacing: 1.5rem;
    justify-content: center; 
    align-content: center;
    justify-items: center;
    background-color: transparent;
    position: relative;
    text-align: center;
    padding-top: 15rem;
    padding-bottom: 2rem;
}

.crew p {
    line-height: 1.25;
    text-transform: uppercase;
}

.crew-grid {
    background-color: #C8D7D4;
    border: 1rem solid white;
    margin-left: 35rem;
    margin-right: 35rem;
    padding-bottom: 6rem;
    justify-content:center; 
    align-content: center;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
}

.crew-grid img {
    width: 70%;
    padding: 5rem;

}

.crew div {
    padding: 5rem;
}

.crew-grid h2 {
    font-size: 1.5rem;
    color:black;
    font-weight: 200;
    letter-spacing: 0.5rem;
}

.crew-grid h1 {
    text-transform: uppercase;
    padding: 0.5rem;
    font-size: 2.5rem;
    max-width: 40rem;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 1.25rem;
}

.crew-grid p {
    padding: 2rem;
    max-width: 40rem;
    text-align: center;
    line-height: 1.25;
}